---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <nav class="bg-slate-700">
    <ul class="flex text-white justify-center">
      <a class="mx-5 my-3" href="/">Main</a>
      <a class="mx-5 my-3" href="/">Main</a>
      <a class="mx-5 my-3" href="/">Main</a>
    </ul>
  </nav>
  <h1 class="text-4xl">About page</h1>
</MainLayout>
