<div class="text-center">
  <img
    class="mb-4 rounded h-36 lg:h-56"
    src="https://images.unsplash.com/photo-1682232923229-31a45274d924?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
    alt="Extra large avatar"
  />
  <a
    href="https://www.twitter.com/@"
    class="text-xl text-white transition-all duration-500 lg:text-2xl hover:text-teal-200"
    >@lenka_codes</a
  >
</div>
